<h1 class="title">{{ title }}</h1>

<div class="container">
    <!-- TO_DO create controls component -->
    <aside>
        Some contrlos
        <button>Edit</button>
        <button>Add</button>
    </aside>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="6.6" [disableDefaultUI]="false" [zoomControl]="true">
        <!-- <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker> -->
        <agm-circle *ngFor="let item of baseStation" [latitude]="item.lat" [longitude]="item.lng" [radius]="item.rad" [fillColor]="'red'">
        </agm-circle>
    </agm-map>
</div>

<footer>
    @Andriy Leskiv, i toi Pizdyk. 2018
</footer>