.title {
  text-align: center;
  text-transform: uppercase;
  background: #007bff;
  margin: 0px;
  padding: 4px;
  color: white;
}

.container {
  display: flex;
}

aside {
  width: 20%;
  min-width: 200px;
  padding: 10px;
  p b {
    text-transform: uppercase;
  }
  span {
    font-size: 19px;
    color: #7d7d7d;
  }
}

.add-bs {
  width: 100%;
}

canvas {
  height: 318px !important;
  width: 450px !important;
}

agm-map {
  width: 100%;
  height: calc(100vh - 65px);
}

h3 {
  width: 640px;
}

.controls {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete {
  background: none;
  border: none;
  color: #7d7d7d;
  border-bottom: 1px solid #7d7d7d;
  border-radius: 0;
  padding: 0;
  height: 17px;
}

footer {
  background: #dedede;
  text-align: center;
  padding: 4px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 12px;
}

table p {
  padding: 0;
  margin: 6px
}

table td:first-child {
  width: 350px;
  text-transform: uppercase;
  color: #7d7d7d;
}
