<h1 class="title">{{ title }}</h1>

<div class="container">
  <aside>
    <button class="add-bs" (click)="addBS()">Додати БС</button>
    <p *ngIf="addMode">Режим додавання базових станцій</p>
    <hr>
    <p><b>Кількість базових станцій:</b> <span>{{baseStation.length}}</span></p>
    <p><b>Загальнв площа:</b><span> {{S}}</span></p>
  </aside>
  <agm-map 
    [latitude]="lat" 
    [longitude]="lng" 
    [zoom]="6.6" 
    [disableDefaultUI]="false" 
    [zoomControl]="true" 
    [styles]="styles"
    (mapClick)="mapClicked($event)">

      <agm-marker 
        *ngFor="let item of baseStation" 
        [latitude]="item.lat" 
        [longitude]="item.lng" 
        (markerClick)="markerClicked(item.id)"
        [iconUrl]="'assets/bs.png'">

        <agm-info-window [isOpen]="isInfoWindowOpen(item.id)"
        [latitude]="item.lat" 
        [longitude]="item.lng">
          <h3>Інформаціпро про БС №{{item.id}}</h3>
          <table>
            <tr>
              <td>Широта</td>
              <td>
                <p *ngIf="!editMode">{{item.lat}}</p>
                <input *ngIf="editMode" type="number"  [(ngModel)]="item.lat">
              </td>
            </tr>
            <tr>
              <td>Довгота</td>
              <td>
                <p *ngIf="!editMode">{{item.lng}}</p>
                <input *ngIf="editMode"  type="number"  [(ngModel)]="item.lng">
              </td>
            </tr>
            <tr>
              <td>Радіус дії</td>
              <td>
                <p *ngIf="!editMode">{{item.rad/ 1000}} км</p>
                <input *ngIf="editMode"  type="number"  [(ngModel)]="item.rad">
              </td>
            </tr>
            <tr>
              <td>Висота пе-редаваль-ної антени  </td>
              <td>
                <p *ngIf="!editMode">{{item.rad/ 1000}} </p>
                <input *ngIf="editMode"  type="number"  [(ngModel)]="item.rad">
              </td>
            </tr>
            <tr>
              <td>Загасання фідера:</td>
              <td>
                <p *ngIf="!editMode">{{item.rad/ 1000}} </p>
                <input *ngIf="editMode"  type="number"  [(ngModel)]="item.rad">
              </td>
            </tr>
            <tr>
              <td>Напруженість поля:</td>
              <td>
                <p *ngIf="!editMode">{{item.rad/ 1000}} </p>
                <input *ngIf="editMode"  type="number"  [(ngModel)]="item.rad">
              </td>
            </tr>
            <tr>
              <td>Кількість обслуговуючих пристроїв в ансамблі:</td>
              <td>
                <p *ngIf="!editMode">{{item.rad/ 1000}} </p>
                <input *ngIf="editMode"  type="number"  [(ngModel)]="item.rad">
              </td>
            </tr>
          </table>
          <div class="controls">
            <button (click)="editMode = !editMode; saveMarker(item)">
              <span></span>
              {{editMode? 'Зберегти' :'Редагувати'}}
            </button>
            <button class="delete" (click)="deleteBS(item.id)">видалити</button>
          </div>
          
        </agm-info-window>

      </agm-marker>

      <agm-circle 
        *ngFor="let item of baseStation" 
        [latitude]="item.lat" 
        [longitude]="item.lng" 
        [radius]="item.rad" 
        [fillColor]="'red'"
        (circleClick)="markerClicked($event)">
      </agm-circle>
  </agm-map>
</div>

<footer>
  @Andriy Leskiv. 2018
</footer>